# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
legendary = pokemon[pokemon['Legendary'] == True]
regular = pokemon[pokemon['Legendary'] != True]
print('legendary = {} vs. {} = regular'.format(len(legendary), len(regular)))

legendary = 65 vs. 735 = regular

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
print(legendary.mean()['Total'])
print(legendary.std()['Total'])

637.384615385
60.9373890532

In [7]:
print(regular.mean()['Total'])
print(regular.std()['Total'])

417.213605442
106.760417457

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
ttest_ind(legendary['Total'], regular['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.3579543359574463e-47)

What do you conclude from this test? Write your conclusions below.

In [9]:
'''
Se tuvo que l p-value = 9.357954335957446e-47, por lo que a un nivel de significancia alpha = .05,
sse tiene estadística suficiente para rechazar la hipótesis nula.
En otras palabras, las dos muestras independientes podrían no tener identica la media de los puntos totales.
'''

'\nSe tuvo que l p-value = 9.357954335957446e-47, por lo que a un nivel de significancia alpha = .05,\nsse tiene estadística suficiente para rechazar la hipótesis nula.\nEn otras palabras, las dos muestras independientes podrían no tener identica la media de los puntos totales.\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [10]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
# Your code here:

pokemon.groupby('Type 1').mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [12]:
pokemon.groupby('Type 1').std()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,210.445160,117.875223,16.328914,37.040904,33.617609,26.697055,32.126395,33.227599,1.598433,0.000000
Dark,176.022072,109.126217,21.078297,25.774247,25.121982,33.200952,24.799020,27.768203,1.353609,0.249731
Dragon,170.190169,146.267538,23.795415,33.742622,24.102938,42.257360,29.884843,23.239961,1.431219,0.491869
Electric,202.731063,105.721952,17.306511,23.764169,24.757033,29.740340,22.601275,26.691607,1.604697,0.290803
Fairy,271.983942,123.781680,23.587291,29.751298,18.979478,28.548462,29.721130,23.305200,2.147160,0.242536
Fighting,218.565200,102.464378,25.852695,28.290163,18.578163,28.159345,22.745777,26.054567,1.800601,0.000000
Fire,226.262840,109.760496,19.404123,28.769275,23.658200,30.042121,22.619908,25.245783,1.850665,0.297678
Flying,42.437209,161.400124,20.694202,37.500000,21.360009,34.769479,22.173558,32.098806,0.577350,0.577350
Ghost,209.189218,110.072685,31.685895,29.629687,32.551138,32.561217,26.038414,28.020280,1.693203,0.245935
Grass,200.264385,106.650626,19.516564,25.380520,24.485192,27.244864,21.446645,28.506456,1.579173,0.203997
Ground,204.899855,123.913081,25.662492,33.059087,33.786912,28.135598,21.267877,27.450083,1.588454,0.336011
Ice,175.465834,108.281027,21.286861,27.289511,34.387708,26.604967,37.213227,24.498410,1.473805,0.282330
Normal,193.854820,115.733038,36.233430,30.295862,23.771833,23.946395,25.142801,28.406157,1.575407,0.142119
Poison,228.801767,92.358687,19.665019,19.630010,21.066128,19.322657,19.887348,22.631392,1.752927,0.000000
Psychic,194.600455,139.026645,28.421340,42.309265,28.359401,38.539340,31.126329,37.335412,1.644845,0.434277
Rock,213.746140,108.059227,20.833884,35.325458,36.447209,28.249670,32.265965,29.903580,1.848375,0.290803
Steel,164.847180,115.420907,16.044010,30.388276,44.806548,31.458606,29.018758,25.846578,1.350319,0.362014
Water,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800,0.186411

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
# Your code here:
water = pokemon[pokemon['Type 1']== 'Water']
others = pokemon[pokemon['Type 1']!= 'Water']

In [14]:
ttest_ind(water['Total'], others['Total'], equal_var=True)

Ttest_indResult(statistic=-0.44185474488496762, pvalue=0.65871403174887933)

Write your conclusion below.

In [10]:
'''
La prueba arrojo un p-value = 0.65871403174887933 , por lo que a un nivel de significancia del .05 se tiene 
la evidencia suficiente para no rechazar la hipótesis nula.
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

Se quiere ver si existe una diferencia significativa entre el puntaje de ataque y defensa de los pokemonssss.

In [48]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [49]:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Defense, pokemon.Attack)

Ttest_relResult(statistic=-4.3255663933304778, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
'''
La prueba arrojo un p-value = .7140303479358558e-05, y con un nivel de significancia del 5%, se puede decir que existe
evidencia suficiente para rechazar la hipótesis de que la media de los puntajes de  ataque y defensa son idénticos. 
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [51]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.85398618845335295, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
'''
La prueba arrojo un p-value = 0.3933685997548122, y con un nivel de significancia del 5%, se puede decir que existe
evidencia suficiente para NO rechazar la hipótesis de que la media de los ataques y defensas especiales son idénticos. 
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [52]:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon.Defense-pokemon.Attack, 0)

Ttest_1sampResult(statistic=-4.3255663933304778, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [16]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
# Your code here:

contin_table = pd.crosstab((pokemon.Legendary == True), (pokemon['Type 1'] == 'Water'))

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

¿Existe asociacion entre los pokemones de agua y los legendarios? 
Ho: Si éxiste asociación
vs.
H1: No existe asociación

In [28]:
from scipy.stats import chi2_contingency

chi_2, p_value, dof, ex = chi2_contingency(contin_table)
p_value

0.086254672495509485

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
'''
Se tiene que el p-values = 0.086254672495509485 > .05 = alpha, por lo que con un nivel de confianza del 95%
se puede decir que existe evidencia suficiente para NO rechazar Ho.
'''