# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv('Pokemon.csv')
pokemon = pd.DataFrame(pokemon)
pokemon.columns = ['#', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack', 'Defense','Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'Legendary']

### Print first 10 rows of `pokemon`

In [3]:
pokemon.head(10)

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
types = np.array(set(list(set(pokemon.Type_1))+list(set(pokemon.Type_2))))

In [5]:
types

array({nan, 'Psychic', 'Dark', 'Fire', 'Water', 'Grass', 'Fairy', 'Rock', 'Normal', 'Fighting', 'Bug', 'Poison', 'Dragon', 'Ice', 'Ground', 'Electric', 'Ghost', 'Steel', 'Flying'}, dtype=object)

In [6]:
pokemon.columns

Index(['#', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [7]:
# test transformed data

def mega(s):
    if 'Mega' in s:
        nombre = s.split('Mega')
        s = 'Mega{}'.format(nombre[1])       
    return s
    
pokemon['Name'] = pokemon['Name'].apply(mega)

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [8]:
pokemon['A/D Ratio'] = pokemon.Attack/pokemon.Defense

### Identify the pokemon with the highest `A/D Ratio`

In [9]:
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]['Name']

429    DeoxysAttack Forme
Name: Name, dtype: object

### Identify the pokemon with the lowest A/D Ratio

In [10]:
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]['Name']

230    Shuckle
Name: Name, dtype: object

In [11]:
set(pokemon.Type_2)

{nan,
 'Psychic',
 'Dark',
 'Water',
 'Fire',
 'Grass',
 'Rock',
 'Ghost',
 'Fighting',
 'Poison',
 'Bug',
 'Dragon',
 'Normal',
 'Ice',
 'Ground',
 'Electric',
 'Fairy',
 'Steel',
 'Flying'}

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [12]:
pokemon['combo'] = np.where(pokemon['Type_2'].isnull(),pokemon['Type_1'], pokemon['Type_1']+'-'+pokemon['Type_2'])

In [42]:
pokemon['combo']

0         Grass-Poison
1         Grass-Poison
2         Grass-Poison
3         Grass-Poison
4                 Fire
5                 Fire
6          Fire-Flying
7          Fire-Dragon
8          Fire-Flying
9                Water
10               Water
11               Water
12               Water
13                 Bug
14                 Bug
15          Bug-Flying
16          Bug-Poison
17          Bug-Poison
18          Bug-Poison
19          Bug-Poison
20       Normal-Flying
21       Normal-Flying
22       Normal-Flying
23       Normal-Flying
24              Normal
25              Normal
26       Normal-Flying
27       Normal-Flying
28              Poison
29              Poison
            ...
770              Fairy
771    Fighting-Flying
772     Electric-Fairy
773         Rock-Fairy
774             Dragon
775             Dragon
776             Dragon
777        Steel-Fairy
778        Ghost-Grass
779        Ghost-Grass
780        Ghost-Grass
781        Ghost-Grass
782        Ghost-Grass
783        Ghost-Grass
784        Ghost-Grass
785        Ghost-Grass
786        Ghost-Grass
787        Ghost-Grass
788                Ice
789                Ice
790      Flying-Dragon
791      Flying-Dragon
792              Fairy
793        Dark-Flying
794      Dragon-Ground
795         Rock-Fairy
796         Rock-Fairy
797      Psychic-Ghost
798       Psychic-Dark
799         Fire-Water
Name: combo, dtype: object

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [41]:
pokemon.nlargest(5,'A/D Ratio')

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,A/D Ratio,combo
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,3.000,Psychic
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False,3.000,Steel-Ghost

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [24]:
combo_5 = list(set(pokemon.nlargest(5,'A/D Ratio').head(5)['combo']))

In [26]:
combo_5

['Bug-Poison', 'Psychic', 'Rock', 'Water-Dark']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [40]:
pokemon[(pokemon.combo == 'Bug-Poison')|(pokemon.combo == 'Psychic')|(pokemon.combo == 'Rock')|(pokemon.combo == 'Water-Dark')].groupby('combo').mean()

,#,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary,A/D Ratio
combo,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949