#### 1. Import pandas library

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install --upgrade pip

In [ ]:
!pip install pymysql

In [ ]:
!pip install sqlalchemy

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [ ]:
!pip install mysql-connector-python==8.0.11

In [3]:
engine=create_engine('mysql+mysqlconnector://guest:relational@relational.fit.cvut.cz')
query= 'SELECT * FROM stats.users AS users'

#### 4. Import the users table

In [4]:
users = pd.read_sql_query(query, engine)

#### 5. Rename Id column to userId

In [5]:
users.rename(columns ={'Id':'userId'}, inplace = True)

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts as posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.rename(columns = {'Id': 'postId','OwnerUserId':'userId'}, inplace = True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
us = pd.DataFrame(users[['userId', 'Reputation','Views','UpVotes','DownVotes']])
pos = pd.DataFrame(posts[['postId', 'Score','userId','ViewCount','CommentCount']])

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [32]:
merge = users.merge(users,'left', on = 'userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [33]:
null_cols = merge.isnull().sum()
null_cols[null_cols>0]

WebsiteUrl_x         32204
Location_x           28634
AboutMe_x            30946
Age_x                32007
ProfileImageUrl_x    23846
WebsiteUrl_y         32204
Location_y           28634
AboutMe_y            30946
Age_y                32007
ProfileImageUrl_y    23846
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
'''
Pues todo depende de la información, por que puede ser que esa columna se preste 
para tener missing values en vez de ceros o -, ya que ese registro no cuenta con 
esas características.

En este caso, todas las columnas con campos vacios las voy a rellenar con "-" menos
Age_x y Age_y, esas las rellenare con 0
'''

In [34]:
merge[['WebsiteUrl_x','Location_x','AboutMe_x','ProfileImageUrl_x','WebsiteUrl_x','Location_x','AboutMe_x','ProfileImageUrl_x']]= merge[['WebsiteUrl_x','Location_x','AboutMe_x','ProfileImageUrl_x','WebsiteUrl_x','Location_x','AboutMe_x','ProfileImageUrl_x']].fillna('-')
merge[['Age_x','Age_y']]= merge[['Age_x','Age_y']].fillna(0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [36]:
# Se deben de cambiar las Age_x y Age_y a object, ya que
merge['Age_x']=merge['Age_x'].astype('int64')
merge['Age_y']=merge['Age_y'].astype('int64')

In [37]:
merge.dtypes

userId                          int64
Reputation_x                    int64
b'CreationDate'_x      datetime64[ns]
DisplayName_x                  object
b'LastAccessDate'_x    datetime64[ns]
WebsiteUrl_x                   object
Location_x                     object
AboutMe_x                      object
Views_x                         int64
UpVotes_x                       int64
DownVotes_x                     int64
AccountId_x                     int64
Age_x                           int64
ProfileImageUrl_x              object
Reputation_y                    int64
b'CreationDate'_y      datetime64[ns]
DisplayName_y                  object
b'LastAccessDate'_y    datetime64[ns]
WebsiteUrl_y                   object
Location_y                     object
AboutMe_y                      object
Views_y                         int64
UpVotes_y                       int64
DownVotes_y                     int64
AccountId_y                     int64
Age_y                           int64
ProfileImageUrl_y              object
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.