# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [51]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import t
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [24]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
salaries.groupby('Salary or Hourly').count()['Name']

Salary or Hourly
Hourly     8022
Salary    25161
Name: Name, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [11]:
salaries.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

Se quiere probar si el salario por hora de los asalariados(hourly) es diferente de $30 por hora.

H0: mu == 30 , H1: mu != 530 , x_media=32.788558, s=12.112573, n=8022 ==> t-test (two-side) dof=8021

Como es de dos colas, entonces NO se divide el p-value entre 2.

In [22]:
print(salaries.groupby('Salary or Hourly').std(ddof = 1)['Hourly Rate'])  # con ddof = 1 le estamos diciendo que queremos la 
print(salaries.groupby('Salary or Hourly').mean()['Hourly Rate'])         # desviación estándar muestral, NUMPY 
                                                                          # va a dividir por N – ddof en su lugar

Salary or Hourly
Hourly    12.112573
Salary          NaN
Name: Hourly Rate, dtype: float64
Salary or Hourly
Hourly    32.788558
Salary          NaN
Name: Hourly Rate, dtype: float64

In [48]:
# Datos
n = 8022
mu = 30
mu_hat=32.788558
std_hat=12.112573

In [80]:
# Prueba forma 1   (AQUÍ EL P-VALUE SALE RARO)
t_test=(mu_hat-mu)/(std_hat/np.sqrt(n))
print(t_test)
rv=t(df=n-1)
p_value=rv.cdf(t_test)
print(p_value)   # No existe evidencia suficiente para rechazar Ho.

20.619807346
1.0

In [79]:
rvs = stats.norm.rvs(loc=32.788558, scale=12.112573, size=8022)
test=ttest_1samp(rvs, 30)
print (test.statistic)
print (test.pvalue)  # Con un nivel de confianza del 95%, se puede decir que xiste evidencia suficiente para rechazar Ho.

19.1618158062
4.656105532e-80

In [78]:
pacientes=np.random.normal(loc =32.788558, scale = 12.112573, size = 8022)
test=ttest_1samp(pacientes, 30)
print (test.statistic)
print (test.pvalue)  # Con un nivel de confianza del 95%, se puede decir que xiste evidencia suficiente para rechazar Ho.

19.7850486406
4.18805044962e-85

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

Se quiere probar que los salarios no son mayores que la media del año pasado de $86,000 al año, para los empleados asalariados.

Ho: promedio de los salarios > $86000
vs.
H1: promedio de los salarios <= $86000

Tenemos un prueba de cola:
Datos
mean = 86786.99979 (Salary per year)
devest = 21041.354602 (sampler)
n = 25161
alpha = 0.05

In [75]:
#print(salaries.groupby('Salary or Hourly').std(ddof = 1)['Annual Salary']) 
print(salaries.groupby('Salary or Hourly').mean()['Annual Salary'])

Salary or Hourly
Hourly            NaN
Salary    86786.99979
Name: Annual Salary, dtype: float64

In [77]:
# Prueba 1
rvs = stats.norm.rvs(loc =86786.99979, scale = 21041.354602, size =25161 )
test =ttest_1samp(rvs,86000)
print (test.statistic)
print (test.pvalue/2) 

# Como el p-value < alpha, entonces se puede decir que
# con un nivel de confianza del 95%, existe evidencia suficiente para rechazar Ho.

5.52556053855
1.65843797427e-08

Using the `crosstab` function, find the department that has the most hourly workers.

In [114]:
workers_most_hours = pd.crosstab(index = salaries.Department, columns = salaries['Typical Hours'])

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

El departamento los trabajadores que laboran el mayor número de horas es 'STREETS & SAN'.
Lo que se quiere probar es lo siguiente:

Ho: salario por hora < 35
vs.
H1: salario por hora >= 35
Con un alpha de .05.

In [116]:
# Your code here:
df = salaries[(salaries['Department']== 'STREETS & SAN') & (salaries['Salary or Hourly']== 'Hourly') & (salaries['Typical Hours']== 40.0)]
mean_salary = df['Hourly Rate'].mean()
std_salary = df['Hourly Rate'].std(ddof = 1)
print('mean = {}'.format(mean_salary))
print('std = {}'.format(std_salary))
print('n = {}'.format(len(df)))

mean = 34.21459427207574
std = 5.815886242913471
n = 1676

In [113]:
# Prueba
rvs = stats.norm.rvs(loc =34.21459427207574, scale = 5.815886242913471, size =1676 )
test =ttest_1samp(rvs,35)
print (test.statistic)
print (test.pvalue/2) 

# Como el p-value < alpha, entonces se puede decir que
# con un nivel de confianza del 95%, existe evidencia suficiente para rechazar Ho.

-7.82206668366
4.56356898341e-15

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [148]:

hourly_rate = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'] 
mean_sal_hour = salaries[salaries['Salary or Hourly'] == 'Hourly'].mean()['Hourly Rate'] #media del salario
n = len(hourly_rate) # número de personas 
standard_error = stats.sem(hourly_rate.values) # error estándar(array con los valores a los que se le quiere sacar el error estándar)

print('mean = {}'.format(mean_sal_hour))
print('n = {}'.format(n))
print('error_estándar = {}'.format(standard_error))

mean = 32.78855771628128
n = 8022
error_estándar = 0.1352368565101596

In [151]:
# Intervalo de confianza del 95 %

t.interval(alpha = .05, df =8021, loc=32.78855771628128, scale=0.1352368565101596)
#(32.780077183392301, 32.797038249170264)

(32.780077183392301, 32.797038249170264)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [159]:
# Your code here:
data = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department']== 'POLICE')]['Annual Salary']
mean = data.mean()
standard_error = stats.sem(data.values)
print('mean = {}'.format(data.mean()))
print('n = {}'.format(len(data)))
print('error_estándar = {}'.format(standard_error))

mean = 86486.41450313339
n = 13404
error_estándar = 157.82445675052244

In [162]:
# Intervalo de confianza del 95 %

t.interval(alpha = .05, df =(len(data)-1), loc=mean, scale=standard_error)

(86476.517654644398, 86496.311351622382)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

Se quiere ver si la proporcion de personas que trabajan por hora en chicago es diferente del 25% con un nivel de 95%, i.e.
Ho: prop = .25
vs
H1: prop != .25

In [167]:
from statsmodels.stats.proportion import proportions_ztest
workers_hourly = salaries[salaries['Salary or Hourly']=='Hourly']
stat, pval = proportions_ztest(count =len(workers_hourly), nobs = len(salaries), value =.25, alternative = 'two-sided')
pval